body{
    font-family: 'Righteous', cursive;
    position: relative;
}


header{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 92px;
    width: 414px;
    background-color: #CF2B2B;
    color: #FFFFFF;
    font-weight: 400;    
}

    header h1 {
        margin-left: 21px;
        font-size: 44px;

    }

    header p{
        margin-left: 21px;
        font-size: 18px;
    }

main h1{
    color: #333333;
    font-weight: 400;
    font-size: 26px;
    margin-top: 123px;   
}