body{
    font-family: 'Righteous', cursive;
    position: relative;
}

.margem-topo{
    margin-top: 123px;
}


    img{
        width: 144px;
        height: 87px;
        border-radius: 5%;
    }


    header{
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 92px;
        width: 100%;
        background-color: #CF2B2B;
        color: #FFFFFF;
        font-weight: 400;    
    }

        header h1 {
            margin-left: 21px;
            font-size: 44px;
        }

        header p{
            margin-left: 21px;
            font-size: 18px;
        }

    main h1{
        color: #333333;
        font-weight: 400;
        font-size: 26px;
        margin-left: 14px;
        margin-top: 31px;

    }
        .opcoes{
            display: flex;
            flex-direction: row;
            overflow: auto;
            width: 100%;

        }

            .secao-pratos__caixa, .secao-sobremesas__caixa, .secao-bebidas__caixa{

                display: flex;
                flex-direction: column;
                justify-content: center;
                word-wrap: break-word;
                width: 172px;
                height: 216px;
                border-radius: 5%;
                background-color: #FFFFFF;
                margin-top: 17px;
                padding-left: 14px;
                padding-right: 14px;
                padding-top: 18px;
                padding-bottom: 14px;
            }

                .secao-pratos__caixa h2, .secao-sobremesas__caixa h2, .secao-bebidas__caixa h2{
                    color: #333333;
                    font-weight: 700;
                    font-size: 16px;
                    margin-top: 8px;
                }

                .secao-pratos__caixa p, .secao-sobremesas__caixa p, .secao-bebidas__caixa p{
                    color: #A6A6A6;
                    font-size: 16px;
                    font-weight: 300;
                    margin-top: 4px;
                }

                .secao-pratos__caixa span,  .secao-sobremesas__caixa span, .secao-bebidas__caixa span{
                    color: #000000;
                    font-weight: 400;
                    margin-top: 4px;

                }
                
